.container {
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
  }
.productContainer{
  background-color: #b47d44;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  width: 100%;


}
  .image {
    width: 100%;
    height: 300px;
    
  }
  .image > div:nth-child(1) {
    display: flex;
    background-color: blue;
    height: 300px;
    padding: 10px;
    justify-content: center;
  }
  .cartbtn {
    margin-top: 0.5rem;
    background-color: #b47e4433;
    color: #b47d44;
    border: #b47e4433;
    padding: 0.8rem;
    cursor: pointer;
    width: 100%;
  }
  .cartbtn:hover {
    background-color: rgba(180, 126, 68, 0.092);
  }
  
  .cartbtn:active {
    background-color: rgba(180, 126, 68, 0.43);
  }

.infoSection{
  background-color: #b47d44;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.ImageProductContainer{
  display: flex;
  background-color: brown;
  width: 600px;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}
.amountSpan{
  color: #FF8C42;
  font-family: 'Shantell Sans', cursive;
}
.productCondition{
  font-family: 'Shantell Sans', cursive;
  color: #b2b1b1;

}